# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: WebKit
BreakBeforeBraces: Stroustrup
ColumnLimit: 170
Cpp11BracedListStyle: true
DerivePointerAlignment: true
ReflowComments: false
SortIncludes: True
AllowShortFunctionsOnASingleLine: Empty
